<div class="container">
    <div class="row">

        <div style="margin-left: -30px;" class="text-left col-md-6">

            <div class="md-form ">
                <i class="fa fa-search prefix grey-text"></i>
                <input type="text" id="txtSearch" #txtSearch class="form-control">
                <label for="txtSearch" translate>Search</label>
            </div>
        </div>

        <div class="text-center  col-xs-4">
            <button type="button" class="btn btn-primary  btn-md" (click)="Search(txtSearch.value)" translate>Search</button> &nbsp; &nbsp; &nbsp;
            <button type="button" [routerLink]="['/chainpost/Post']" class="btn btn-success btn-md" style="white-space: nowrap;" translate> New Post</button>

        </div>

    </div>
    <br>

    <div class="col-12 row">
        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
    <div class="col-12 row">
        <ul class="col-sm-12 col-md-8">
            <li class="changecolor hoverable" *ngFor="let Posts of PostsPage">
                <h5>
                    <a [routerLink]="['/chainpost/Post-detail']" [queryParams]="{id: Posts._id}">
                        <b>
             <i class="fa fa-check-circle grey-text"></i> {{Posts.Title }}
            </b>
                    </a>

                    <!-- <a  (click)="Remove_Listing(claim._id)"> <i class="fa fa-trash pull-right" style="float: right; color: red" aria-hidden="true"></i></a> -->
                </h5>
                <strong><i class="col-sm-2 fa fa-tag grey-text" translate>  Channel</i> </strong> : {{Posts.Channel | translate}} &nbsp;&nbsp;&nbsp;
                <strong><i class="col-sm-2 fa fa-tag grey-text" translate>  PostedBy</i> </strong> : {{Posts.postedBy}}
                <div style="margin-top: 1px;margin-left: 1px;">
                    <i class="far fa-thumbs-up fa-lg  grey-text col-3">
            <i style="font-size: medium;">{{Posts.likes}}</i>
                    </i>
                    <i class="far fa-thumbs-down  grey-text fa-lg col-3">
            <i style="font-size: medium;">{{Posts.dislikes}}</i>
                    </i>
                </div>
                <!-- <br> {{claim.data.street}}
                  <br> {{claim.data.city}}, {{claim.data.state}} {{claim.data.zip}} {{getCountryName(claim.data.country)}}
                   <br> Date Created: {{claim.data.postedTime | date:'yyyy-MM-dd HH:mm a z':'-0500'}} -->
            </li>
        </ul>
    </div>

</div>
