.chain-gege {
    color: #FFFFFF;
    font-weight: bold;
    font-family: Helvetica;
    padding-top: 200px;
    padding-left: 150px;
}

.chain-pic {
    background: url("~assets/hero-image.jpg");
    width: 100%;
    height: 750px;
}

.chain-start {
    border: 1px solid #FF8F00;
    width: 350px;
    height: 70px;
    border-radius: 100px;
    text-align: center;
    background-color: #FF8F00;
    margin-top: 50px;
}

.chain-start p {
    padding-top: 20px;
}

.chain-gege h1 {
    padding-bottom: 20px;
}

.chain-title {
    font-family: Helvetica;
    color: #707070;
    font-size: 30pt;
    font-weight: bold;
    padding-top: 150px;
}

.chain-img {
    display: block;
    margin: 0 auto;
}

.chain-des {
    display: block;
    margin: 0 auto;
}

.chain-link {
    color: #ff8f00;
    font-weight: bold;
}

.chain-main p {
    margin-top: 20px;
}

.chain-main {
    padding-left: 50px;
}

hr {
    background: #ff8f00;
    width: 60px;
    height: 3px;
}


/*----*/

.jumbotron {
    padding: 0em;
}

.jumbotron h4,
.jumbotron p,
.jumbotron a {
    font-size: 15px !important;
    font-family: sans-serif !important;
    color: #FFFFFF !important;
}

.secHead {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgray;
}

.secHead:hover {
    background-color: goldenrod;
    color: #FFFFFF;
}

.panel-heading {
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel {
    /*border: 1px solid #3c3d41;
  */
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}


/*-------------------footer css--------------*/

.footer-bs {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255, 255, 255, 1.00);
    margin-bottom: -20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 1.00);
    font-weight: bold;
    text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li {
    padding: 5px 4px;
}

.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}