<div>
    <div>
        <img class="col-lg-12 col-xs-12" style="margin: 0 !important; padding: 0 !important;" src="..\assets\HelloImage.jpg">
        <!-- <p>First, Fast, Blockchain, Oversea Chinese Community Focused</p> -->

    </div>
    <div class="row">
        <!-- <a class="col-4 no-gutters" [routerLink]="['/home']">
            <img class="col-12" src="..\assets\Chainpage.jpg">
            <p style="margin-left: 20px">Chaingpage: A list of businesses who provide products and services to Chinese oversea communities.</p>
        </a>
        <div class="col-4 no-gutters">
            <img class="col-12" src="..\assets\Goods.jpg">
            <p style="margin-left: 20px">Market: A list of items that are on sales by each vendors. The buyer has to use ligear tokens to reserve the orders. Coming in June, 2018</p>
        </div>
        <div class="col-4 no-gutters">
            <img class="col-12" src="..\assets\Posts.jpg">
            <p style="margin-left: 20px">Our community members can post things seeking help of services or goods. Coming in June, 2018.</p>
        </div> -->
        <div class="col-lg-4 col-xs-4 no-gutterright">
            <a class="quickLink" [routerLink]="['/home']">
                <div class="secHead">
                    <h1 class="text-center">{{'ChainPage' | translate}}</h1>
                </div>
            </a>
            <div class="description">
                <p>{{'Chainpage: A list of businesses who prvide products and services to Chinese overseas communities.' | translate }}</p>
            </div>
        </div>

        <div class="clearfix visible-xs-block"></div>

        <div class="col-lg-4 col-xs-4 no-gutters">
            <!-- a class="quickLink" [routerLink]="['/home']" -->
                <div class="secHead">
                    <h1 class="text-center">{{'ChainMart' | translate}}</h1>
                </div>
            <!-- </a> -->
            <div class="description">
                <p>{{'ChainMart: A list of items that are on sales by vendors. A buyer has to use ligear tokens to reserve the orders. Coming in June, 2018.' | translate}}</p>
            </div>
        </div>

        <div class="clearfix visible-xs-block "></div>

        <div class="col-lg-4 col-xs-4 no-gutterleft">
            <!-- a class="quickLink" [routerLink]="['/home']" -->
                <div class="secHead">
                    <h1 class="text-center">{{'ChainPost' | translate}}</h1>
                </div>
            <!-- </a> -->
            <div class="description">
                <p>{{'ChainPost: Our community members can post things seeking help of services or goods. Coming in June, 2018.' | translate}}</p>
            </div>
        </div>

    </div>
  <hr>
  <hr>
  <div class="row col-12">

    <div class="col-xs-12 col-md-4">
      <h6><ins>{{'Contact Information'|translate}}</ins></h6>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> :  <a href="mailto:linkgearmkt@gmail.com">linkgearmkt@gmail.com</a>
      </p>
      <p><i class="fa fa-globe" aria-hidden="true"></i> :  <a href="http://linkgear.org/" target="blank">linkgear.org</a>
      </p>
      <p><i class="fab fa-telegram" aria-hidden="true"></i> : <a href=" https://t.me/linkgear/" target="blank">Telegram</a>
      </p>
    </div>
  </div>
</div>