<div class="wrapper">
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li *ngFor="let cat of categories" class="active">
                <a href="{{'#' + cat.Category + 'Submenu'}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" translate>{{cat.Description}}</a>
                <ul class="collapse list-unstyled" id="{{cat.Category + 'Submenu'}}">
                    <li *ngFor="let subcat of cat.subcategories">
                        <a [routerLink]="['/home']" [queryParams]="{subcat: subcat.Description}" translate>{{subcat.Description}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>