.navbar,
.navbar-nav,
.nav-link {
    background-color: #3c3d41 !important;
}

.nav-link,
.navbar-brand {
    color: #FFFFFF !important;
    font-weight: bold;
}

.nav-log {
    border: 2px solid #FF8F00;
    font-family: Helvetica;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
}

.nav-log a {
    color: #FF8F00;
}

.nav-log-a {
    padding-top: 5px
}

.nav-item {
    padding-left: 100px
}

.nav-lang {
    margin-right: 20px;
    margin-top: 5px;
    font-family: Helvetica;
    /* font-weight: bold; */
    /* color: #FF8F00; */
}

.nav-profile {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 15x;
    padding-right: 10px;
    padding-top: 5px;
}

.nav-profile a {
    color: #FF8F00
}