<div class="container col-md-16">
    <div class="row">
        <div class="form-group col-md-8">
            <label for="businessCategory" translate>{{model.businessMainCategory}}</label> >
            <label for="businessCategory" class="inline" translate>{{model.businessSubCategory}}</label>
            <div>
                <button class="btn btn-primary btn-md" [hidden]="!isAuthor" translate [routerLink]="['/home/claim']" [queryParams]="{id: claimId}">Edit</button>
                <h2>{{model.name}}</h2>
                <div>
                    <!-- {{model.commentsNum + " Reviews"}} -->
                </div>
                <!-- 
            <br>
            <label for="email">{{model.email}}</label>
            <br>
            <a [href]="formatURL(model.webPage)" target="_blank">{{model.webPage}}</a> -->
            </div>
            <br>
            <div>
                <h4 translate>Description</h4>
                <hr align="left">
                <div translate>{{model.service}}</div>

            </div>

            <ngu-carousel #myCarousels1 [inputs]="carouselBanner" (carouselLoad)="carouselTileOneLoad()" (onMove)="onMoveData($event)" [reset]="rsts" (initData)="getCarouselData($event)">
                <ngu-tile NguCarouselItem *ngFor="let image of albums; let i=index">
                    <img style="cursor: pointer;width: 100%;height: 100px;" [src]="image.thumb" (click)="open(i)" class="img-thumbnail hoverable" />
                </ngu-tile>
                <a NguCarouselPrev class="carousel-control-prev">
                    <i class="fa fa-chevron-left fa-lg text-muted pt-5"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a NguCarouselNext class="carousel-control-next text-faded">
                    <i class="fa fa-chevron-right fa-lg text-muted pt-5"></i>
                    <span class="sr-only">Next</span>
                </a>
            </ngu-carousel>
            <br>
            <div *ngIf="!currentUser">
                <div>
                    <i class="far fa-thumbs-up fa-lg col-3">
          <i style="font-size: medium;">{{likes}} likes</i>
                    </i>
                    <i class="far fa-thumbs-down fa-lg col-3">
          <i style="font-size: medium;">{{dislikes}} dislikes</i>
                    </i>
                </div>
            </div>
            <div *ngIf="currentUser != undefined">
                <div>
                    <i (click)="thumbsUp()" [ngClass]="{ 'fa-thumbs-up-clicked': alreadyLiked }" class="far fa-thumbs-up fa-lg col-3" placement="top" ngbTooltip="you liked it">
          <i style="font-size: medium;">{{likes}} likes</i>
                    <br>
                    <label style="font-size: small" translate>(earn 5 tokens)</label>
                    </i>
                    <i (click)="thumbsDown()" [ngClass]="{ 'fa-thumbs-down-clicked': alreadyDisliked }" class="far fa-thumbs-down fa-lg col-3" placement="top" ngbTooltip="you didn't like it">
          <i style="font-size: medium;">{{dislikes}} dislikes</i>
                    <br>
                    <label style="font-size: small" translate>(to dislike costs 10 tokens)</label>
                    </i>
                </div>
            </div>
            <br>
            <div>
                <h4 translate>Reviews</h4>
                <hr align="left">
                <div class="form-group">
                    <div>
                        <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentText.value)">
                            <label for="commentTextarea" translate>Your comment (min 10 characters):</label>
                            <br>
                            <textarea class="form-control comment-post" [ngModel]="ownComment?.comment" name="comment" required minlength="10" id="commentTextarea" #commentText="ngModel"></textarea>
                            <br>
                            <div *ngIf="!ownComment">
                                <button class="btn btn-primary" [disabled]="!commentForm.form.valid" translate>Submit</button>
                            </div>
                            <div *ngIf="ownComment">
                                <button class="btn btn-primary" [disabled]="!commentForm.form.valid || commentText.pristine" translate>Update</button>
                            </div>
                        </form>
                    </div>
                </div>

                <ul>
                    <li *ngFor="let c of commentsPage">
                        <div class="row col-12">
                            <div class="col-sm-11">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-user-circle fa-2x"></i> <span class="username">{{c.postedBy}}</span>
                                        <span class="text-muted float-right">posted on {{c.postedTime | date :'medium'}}</span>
                                    </div>
                                    <div class="panel-body">
                                        {{c.comment}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>

        <div class="col-md-4" style="margin-top:290px">
            <div>
                <h4 translate>General Info</h4>
                <hr align="left">
                <ul>
                    <li>
                        <i class="fas fa-map-marker-alt"></i><span style="padding-left:15px">{{model.city}}, {{model.state}} {{model.zip}} {{model.country}}</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i><span style="padding-left:10px">{{model.email}}</span>
                    </li>
                    <li>
                        <i class="fas fa-globe"></i><span style="padding-left:13px"><a [href]=" formatURL(model.webPage) " target="_blank ">{{model.webPage}}</a></span>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>