<div class="sidenavchainpost">
    <div class="row">
        <div class="col-12">
            <!-- Container for sidebar(s) + page content -->

            <!--    <br>-->

            <ng-sidebar-container style="height:auto">

                <!-- A sidebar -->
                <ng-sidebar [(opened)]="_opened" style='background-color:gray;width:300px;'>
                    <div class='SideNav_Content_Section' style="float: left;">
                        <button (click)="_toggleSidebar()" translate>Close sidebar</button>

                        <label *ngFor="let postcat of DynamicChannelcats" data="postcat.ChannelName" [routerLink]="['/chainpost']" [queryParams]="{postcat: postcat.ChannelName}"
                            translate [(ngModel)]="postcat.ChannelName" ngDefaultControl>{{postcat.ChannelName}}
                        </label>

                    </div>
                </ng-sidebar>

                <!-- Page content -->
                <div ng-sidebar-content (click)="CloseSidebar()" class='Main_Content_Section'>
                    <button (click)="_toggleSidebar()" translate>Toggle sidebar</button>
                    <router-outlet></router-outlet>
                </div>

            </ng-sidebar-container>




        </div>
        <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 nopadding">
            <ul>
                <li>you ad goes here</li>
                <li>you ad goes here</li>
            </ul>
        </div> -->
    </div>
</div>