.show-error {
    color: darkred;
}

.show-error-border {
    border-color: darkred;
}

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px blue solid;
    font-size: 0;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.img-wrap:hover .close {
    opacity: 1;
}

.claim-head h4 {
    color: #ff8f00
}

.claim-head {
    margin-top: 20px;
}

.submitBtn .btn-success {
    background-color: #ff8f00!important;
}

.required:after {
    content: "*";
    color: red;
}